body {
  font-size: 1.2rem;
  font-family: Arial;
  background: var(--fundo);
}

.titulo {
  color: tomato;
  padding: 10px;
}

#intro #servicos {
  color: aqua;
}

#servicos {
  color: red;
}

#produtos {
  color: lightgreen;
}

.titulo.teste {
  color: blue;
}

:root {
  --fundo: #fff;
  --texto-1: #111;
  --texto-2: #444;
}

h1 {
  color: var(--texto-1);
}

p {
  color: var(--texto-2);
}
