a {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-family: Arial;
  text-decoration: none;
  background: #caf;
  color: #217;
}

a:hover {
  background: #adf;
  color: #147;
  border-radius: 4px;
}

a:focus {
  background: #cfa;
  color: #371;
}

a:active {
  background: #ffa;
  color: #761;
}

/* a:visited {
  background: #fda;
  color: #731;
} */

/* apenas o primeiro elemento de li */
.lista-1 li:first-child {
  background: #cfa;
}

/* apenas o último elemento de li */
.lista-1 li:last-child {
  background: #cfa;
}

/* apenas o terceiro elemento de li */
.lista-1 li:nth-child(3) {
  background: #cfa;
}

/* apenas os elementos pares
  even = pares
  odd = ímpares
*/
.lista-2 li:nth-child(even) {
  background: #cfa;
}

/* todos menos first-child e last-child */
.lista-3 li:not(:first-child, :last-child) {
  background: #caf;
}

/* todos h2's dentro de section, menos o que tiver a classe .contato */
h2:not(.contato) {
  text-decoration: underline;
}
