body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

label {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
}

input {
  font-size: 1.2rem;
  padding: 10px;
}

button {
  margin-top: 30px;
  display: block;
}

select {
  font-size: 1.2rem;
  padding: 10px;
}

textarea {
  font-size: 1.2rem;
  font-family: Arial;
}

button {
  font-size: 2rem;
  padding: 10px 20px;
  background: #caf;
  border: none;
  color: #217;
  border-radius: 4px;
  cursor: pointer;
}

section > h2 {
  background: tomato;
}

p {
  margin: 0;
}

article {
  background: lightgreen;
  padding: 10px;
}

p + p {
  margin-top: 20px;
}

body {
  color: blue;
}
